body {
    background-color:black;
    font-family: arial;
    color:white;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:gray;
    text-align: center;
}

.maindiv{ 
    background-color: white;
    color:black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto
}
.cont{
    /*border-style: solid;*/
    display:flex;
    height: 20px;
    justify-content: flex-start;
}

.Text_in{
    align-self:flex-end;
    margin-right: 20px;
}
